* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1vh 1vw;
    background-color: lightgrey;
    display: flex;
}

.send-area {
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.send-area > button {
    align-self: center;
    margin-top: 10px;
}

.send-area > textarea {
    padding: .5vw .5vh;
}

.message-area {
    background-color: white;
    width: 75vw;
    height: 90vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}

.myMessage {
    align-self: flex-start;
    background-color: lightskyblue;
    margin: 5px;
    padding: 5px;
}

.theirMessage {
    align-self: flex-end;
    background-color:lightgreen;
    margin: 5px;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    body {
        flex-wrap: wrap;
    }

    .send-area {
        width: 100%;
    }

    .message-area {
        margin-left: 0;
        margin-top: 1vh;
        width: 100%;
    }
}